@mixin menu-prototype {
	/**
		* @name Menu
		* @description A menu is a collection of elements showing related user actions
		*
		* @section components.menu.index
		*
		*
		* @markup
		*		<div class="ui menu">
		*			<a class="active item">
		*				<i class="home icon"></i> Home
		*			</a>
		*			<a class="item">
		*				<i class="mail icon"></i> Messages
		*			</a>
		*			<div class="right menu">
		*				<div class="item">
		*					<div class="ui icon input">
		*						<input type="text" placeholder="Search...">
		*						<i class="search link icon"></i>
		*					</div>
		*				</div>
		*			</div>
		*		</div>
		*/
	.ui.menu {
		margin: 1rem 0rem;
		background-color: palette(neutral, light);
		font-weight: normal;
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	}
	.ui.menu .item {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition:
			opacity 0.2s ease,
			background 0.2s ease,
			box-shadow 0.2s ease
		;
	}
	.ui.menu .item,
	.ui.menu .item > a:not(.button) {
		color: palette(neutral, dark);
	}
	.ui.menu .item .item,
	.ui.menu .item .item > a:not(.button) {
		color: palette(neutral, dark);
	}
	.ui.menu .item .item .item,
	.ui.menu .item .item .item > a:not(.button) {
		color: palette(neutral, dark);
	}
	.ui.menu .dropdown .menu .item,
	.ui.menu .dropdown .menu .item a:not(.button) {
		color: palette(neutral, dark);
	}
	/* Hover */
	.ui.menu .item .menu a.item:hover,
	.ui.menu .item .menu .link.item:hover {
		color: palette(neutral, dark);
	}
	.ui.menu .dropdown .menu .item a:not(.button):hover {
		color: palette(neutral, dark);
	}
	/* Active */
	.ui.menu .active.item,
	.ui.menu .active.item a:not(.button) {
		color: palette(neutral, dark);
	}
	.ui.menu .item {
		padding: 0.83em 0.95em;
		border-top: 0em solid rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.ui.menu .menu {
		margin: 0em;
	}
	.ui.menu .item:before {
		background-image: linear-gradient(
			rgba(0, 0, 0, 0.05) 0%,
			rgba(0, 0, 0, 0.1) 50%,
			rgba(0, 0, 0, 0.05) 100%)
		;
	}
	.ui.menu .text.item > *,
	.ui.menu .item > p:only-child {
		line-height: 1.3;
		color: palette(neutral, dark);
	}

	/**
		* @name Menu - Elements
		* @description Menus typically contain a combination of headers, link, inputs, labels, buttons, and dropdowns.
		*
		* @section components.menu.elements
		*
		*
		* @markup
		*		<div class="ui menu">
		*			<a class="header link item">
		*				<i class="home icon"></i> Home
		*			</a>
		*			<a class="link item">
		*				<i class="mail icon"></i> Messages
		*			</a>
		*			<div class="right menu">
		*				<div class="item">
		*					<div class="ui icon input">
		*						<input type="text" placeholder="Search...">
		*						<i class="search link icon"></i>
		*					</div>
		*				</div>
		*			</div>
		*		</div>
		*		<div class="ui menu">
		*			<div class="ui simple dropdown item">
		*				Categories <i class="dropdown icon"></i>
		*				<div class="menu">
		*					<a class="item">Electronics</a>
		*					<a class="item">Automotive</a>
		*					<a class="item">Home</a>
		*				</div>
		*			</div>
		*		</div>
		*/
	.ui.menu:not(.vertical) .item > .button {
		top: -0.05em;
		margin: -0.55em 0;
		padding-bottom: 0.55em;
		padding-top: 0.55em;
		font-size: 0.875em;
	}
	.ui.menu:not(.vertical) .item > .input {
		margin-top: -0.85em;
		margin-bottom: -0.85em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
	}
	.ui.menu .item > .input input {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.ui.vertical.menu .item > .input input {
		margin: 0em;
		padding-top: 0.63em;
		padding-bottom: 0.63em;
	}
	.ui.vertical.menu .ui.input > .icon {
		padding-top: 0.63em;
	}
	.ui.menu:not(.vertical) .item > .button.labeled > .icon {
		padding-top: 0.6em;
	}
	.ui.menu:not(.vertical) .item .action.input > .button {
		font-size: 0.8em;
		padding: 0.55em 0.8em;
	}
	// Resizes
	.ui.small.menu:not(.vertical) .item > .input input {
		padding-top: 0.4em;
		padding-bottom: 0.4em;
	}
	.ui.large.menu:not(.vertical) .item > .input input {
		top: -0.125em;
		padding-bottom: 0.6em;
		padding-top: 0.6em;
	}
	.ui.large.menu:not(.vertical) .item .action.input > .button {
		font-size: 0.8em;
		padding: 0.9em;
	}
	.ui.large.menu:not(.vertical) .item .action.input > .button > .icon {
		padding-top: 0.8em;
	}

	// Header
	.ui.menu .header.item {
		background-color: palette(neutral, dark);
		color: palette(neutral, light);
	}
	.ui.vertical.menu .header.item {
		font-weight: bold;
	}
	// Dropdowns
	.ui.menu .dropdown .menu .item .icon {
		margin: 0em 0.75em 0em 0em;
	}
	.ui.menu .dropdown.item .menu {
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
	.ui.menu .pointing.dropdown.item .menu {
		margin-top: 0.75em;
	}
	.ui.menu .dropdown.item .menu .item {
		color: palette(neutral, dark);
	}
	// Labels
	.ui.menu .item > .label {
		background-color: palette(neutral, mid);
		color: palette(neutral, light);
		margin: -0.15em 0em -0.15em 0.5em;
		padding: 0.3em 0.8em;
	}
	.ui.menu .item > .floating.label {
		padding: 0.3em 0.8em;
	}

	// States
	// Hover
	.ui.link.menu .item:hover,
	.ui.menu .link.item:hover,
	.ui.menu a.item:hover,
	.ui.menu .ui.dropdown .menu .item:hover {
		background-color: palette(neutral, light, 110);
	}
	.ui.menu .ui.dropdown.item.active {
		background-color: palette(neutral, light, 110);
		box-shadow: none;
	}
	// Down
	.ui.link.menu .item:active,
	.ui.menu .link.item:active,
	.ui.menu a.item:active,
	.ui.menu .ui.dropdown .menu .item:active {
		background-color: palette(neutral, mid);
	}
	// Active
	.ui.menu .active.item  {
		background-color: palette(neutral, mid);
		color: palette(neutral, dark);
		box-shadow: 0em 0.2em 0em inset;
	}
	.ui.vertical.menu .active.item {
		box-shadow: 0.2em 0em 0em inset;
	}
	.ui.vertical.menu .active.item .menu .active.item {
		border-left: none;
	}
	.ui.vertical.menu .active.item .menu .active.item {
		padding-left: 1.5rem;
	}
	.ui.vertical.menu .item .menu .active.item {
		background-color: palette(neutral, mid);
		box-shadow: none;
	}
	// Disabled
	.ui.menu .item.disabled,
	.ui.menu .item.disabled:hover {
		color: palette(neutral, mid);
	}

	/**
		* @name Menu - Vertical
		* @description Menus can be layed out vertically
		*
		* @section components.menu.vertical
		*
		*
		* @markup
		*		<div class="ui vertical menu">
		*			<div class="item">
		*				<div class="ui input"><input type="text" placeholder="Search..."></div>
		*			</div>
		*			<div class="item">
		*				<i class="home icon"></i> Home
		*				<div class="menu">
		*					<a class="active item">Search</a>
		*					<a class="item">Add</a>
		*					<a class="item">Remove</a>
		*				</div>
		*			</div>
		*			<a class="item">
		*				<i class="grid layout icon"></i> Browse
		*			</a>
		*			<a class="item">
		*				<i class="mail icon"></i> Messages
		*			</a>
		*			<div class="ui dropdown item">
		*				More <i class="dropdown icon"></i>
		*				<div class="menu">
		*					<a class="item"><i class="edit icon"></i> Edit Profile</a>
		*					<a class="item"><i class="globe icon"></i> Choose Language</a>
		*					<a class="item"><i class="settings icon"></i> Account Settings</a>
		*				</div>
		*			</div>
		*		</div>
		*/
	.ui.vertical.menu .item {
		border-top: none;
		border-left: 0em solid rgba(0, 0, 0, 0);
		border-right: none;
	}

	.ui.vertical.menu .item > .label {
		float: right;
		text-align: center;
	}
	.ui.vertical.menu .item > i.icon {
		float: right;
		width: 1.22em;
		margin: 0em 0em 0em 0.5em;
	}
	.ui.vertical.menu .item > .label + i.icon {
		margin: 0em 0.25em 0em 0em;
	}
	.ui.vertical.menu .item:before {
		background-image: linear-gradient(to right,
			rgba(0, 0, 0, 0.03) 0%,
			rgba(0, 0, 0, 0.1) 1.5em,
			rgba(0, 0, 0, 0.03) 100%)
		;
	}
	.ui.vertical.menu .dropdown.item > i {
		float: right;
		content: "\f0da";
	}
	.ui.vertical.menu .dropdown.item .menu {
		left: 100%;
		margin: 0px 0px 0px 1px;
		box-shadow: 0 0px 1px 1px palette(neutral, light, 110);
	}
	.ui.vertical.menu .dropdown.item .menu .item {
		font-size: 1rem;
	}
	.ui.vertical.menu .dropdown.item .menu .item i.icon {
		margin-right: 0em;
	}
	.ui.vertical.menu .dropdown.item.active {
		box-shadow: none;
	}
	.ui.vertical.menu .item > .menu {
		margin: 0.5em -0.95em 0em;
	}
	.ui.vertical.menu .item > .menu > .item {
		padding: 0.5rem 1.5rem;
		font-size: 0.875em;
	}

	/**
		* @name Menu - Tiered
		* @description Menus can have multiple tiers
		*
		* @section components.menu.tiered
		*
		*
		* @markup
		*		<div class="ui tiered menu">
		*		  <div class="menu">
		*		    <a class="active item">
		*		      <i class="users icon"></i>
		*		      Friends
		*		    </a>
		*		    <a class="item">
		*		      <i class="grid layout icon"></i> Browse
		*		    </a>
		*		    <a class="item">
		*		      <i class="mail icon"></i> Messages
		*		    </a>
		*		    <div class="right menu">
		*		      <div class="item">
		*		        <div class="ui icon input">
		*		          <input type="text" placeholder="Search...">
		*		          <i class="search icon"></i>
		*		        </div>
		*		      </div>
		*		      <div class="ui dropdown item">
		*		        More <i class="icon dropdown"></i>
		*		        <div class="menu">
		*		          <a class="item"><i class="edit icon"></i> Edit Profile</a>
		*		          <a class="item"><i class="globe icon"></i> Choose Language</a>
		*		          <a class="item"><i class="settings icon"></i> Account Settings</a>
		*		        </div>
		*		      </div>
		*		    </div>
		*		  </div>
		*		  <div class="ui sub menu">
		*		    <a class="active item">Search</a>
		*		    <a class="item">Add</a>
		*		    <a class="item">Remove</a>
		*		  </div>
		*		</div>
		*/
	.ui.tiered.menu > .sub.menu > .item {
		color: palette(neutral, dark);
	}
	.ui.tiered.menu > .menu > .item:hover {
		color: palette(neutral, dark);
	}
	.ui.tiered.menu .item.active {
		color: palette(neutral, dark);
	}
	.ui.tiered.menu .sub.menu {
		background-color: palette(neutral, mid);
		border-top: 1px solid palette(neutral, mid);
		box-shadow: none;
		color: palette(neutral, light);
	}
	.ui.tiered.menu .sub.menu .item {
		font-size: 0.875rem;
	}
	.ui.tiered.menu .sub.menu .item:before {
		background-image: none;
	}
	.ui.tiered.menu .sub.menu .active.item {
		padding-top: 0.83em;
		background-color: transparent;
		border-top: medium none;
		box-shadow: none;
		color: palette(neutral, dark) !important;
	}

	/**
		* @name Menu - Tabular
		* @description Tab menus
		*
		* @section components.menu.tabular
		*
		*
		* @markup
		*		<div class="ui top attached tabular menu">
		*			<a class="active item">
		*				Tab 1
		*			</a>
		*			<a class="item">
		*				Tab 2
		*			</a>
		*		</div>
		*		<div class="ui bottom attached segment">
		*			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
		*		</div>
		*		</div>
		*/
	.ui.tabular.menu {
		background-color: transparent;
		border-bottom: 1px solid palette(neutral, light, 110);
		box-shadow: none !important;
	}
	.ui.tabular.menu .item {
		background-color: transparent;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		border-top: 1px solid transparent;
		padding-left: 1.4em;
		padding-right: 1.4em;
		color: palette(neutral, dark);
	}
	.ui.tabular.menu .item:hover {
		background-color: transparent;
		color: palette(neutral, dark);
	}
	.ui.tabular.menu .active.item {
		background-color: palette(neutral, light);
		color: palette(neutral, dark);
		border-color: palette(neutral, light, 110);
		font-weight: bold;
		margin-bottom: -1px;
		border-bottom: 1px solid palette(neutral, light);
		box-shadow: none;
	}
	.ui.tabular.menu ~ .bottom.attached.segment {
		margin: 1px 0px 0px 1px;
	}

	/**
		* @name Menu - Pagination
		* @description Pagination menu
		*
		* @section components.menu.pagination
		*
		*
		* @markup
		*		<div class="ui borderless pagination menu">
		*			<a class="item">
		*				<i class="left arrow icon"></i> Previous
		*			</a>
		*			<a class="item">1</a>
		*			<a class="item">2</a>
		*			<a class="item">3</a>
		*			<a class="item">4</a>
		*			<a class="item">5</a>
		*			<a class="item">6</a>
		*			<a class="item">
		*				Next <i class="icon right arrow"></i>
		*			</a>
		*		</div>
		*/
	.ui.pagination.menu .item {
		min-width: 3em;
		text-align: center;
	}
	.ui.pagination.menu .active.item {
		border-top: none;
		padding-top: 0.83em;
		background-color: palette(neutral, mid);
		box-shadow: none;
	}

	/**
		* @name Menu - Secondary
		* @description Secondary menu
		*
		* @section components.menu.secondary
		*
		*
		* @markup
		*		<div class="ui secondary menu">
		*			<a class="active item">
		*				<i class="home icon"></i> Home
		*			</a>
		*			<a class="item">
		*				<i class="mail icon"></i> Messages
		*			</a>
		*			<a class="item">
		*				<i class="user icon"></i> Friends
		*			</a>
		*			<div class="right menu">
		*				<div class="item">
		*					<div class="ui icon input">
		*						<input type="text" placeholder="Search...">
		*						<i class="search link icon"></i>
		*					</div>
		*				</div>
		*				<a class="ui item">
		*					Logout
		*				</a>
		*			</div>
		*		</div>
		*/
	.ui.secondary.menu {
		background-color: transparent;
		box-shadow: none;
	}
	.ui.secondary.menu > .menu > .item,
	.ui.secondary.menu > .item {
		box-shadow: none;
		border: none;
		height: auto !important;
		margin: 0em 0.25em;
		padding: 0.5em 1em;
	}
	.ui.secondary.menu .item > .input input {
		background-color: transparent;
		border: none;
	}
	.ui.secondary.menu .link.item,
	.ui.secondary.menu a.item {
		opacity: 0.8;
		transition: none;
	}
	.ui.secondary.menu .header.item {
		border-right: 0.1em solid palette(neutral, mid);
		background-color: transparent;
	}
	.ui.secondary.menu > .menu > .active.item,
	.ui.secondary.menu > .active.item {
		background-color: palette(neutral, mid);
		box-shadow: none;
	}
	.ui.secondary.inverted.menu .link.item,
	.ui.secondary.inverted.menu a.item {
		color: palette(neutral, light);
	}
	.ui.secondary.inverted.menu .link.item:hover,
	.ui.secondary.inverted.menu a.item:hover {
		color: palette(neutral, light);
	}
	.ui.secondary.inverted.menu .active.item {
		background-color: palette(neutral, mid);
	}
	.ui.secondary.attached.menu {
		box-shadow: none;
	}

	/**
		* @name Menu - Secondary Vertical
		* @description Secondary vertical menu
		*
		* @section components.menu.secondary-vertical
		*
		*
		* @markup
		*		<div class="ui secondary vertical menu">
		*			<a class="active item">
		*				<i class="users icon"></i>
		*				Friends
		*			</a>
		*			<a class="item">
		*				<i class="mail icon"></i> Messages
		*			</a>
		*			<a class="item">
		*				<i class="user icon"></i> Friends
		*			</a>
		*			<div class="ui dropdown item">
		*				More <i class="dropdown icon"></i>
		*				<div class="menu">
		*					<a class="item"><i class="edit icon"></i> Edit Profile</a>
		*					<a class="item"><i class="globe icon"></i> Choose Language</a>
		*					<a class="item"><i class="settings icon"></i> Account Settings</a>
		*				</div>
		*			</div>
		*		</div>
	 	*/
	.ui.secondary.vertical.pointing.menu {
		border: none;
		border-right: 3px solid palette(neutral, mid);
	}
	.ui.secondary.vertical.menu > .item {
		border: none;
		margin: 0em 0em 0.3em;
		padding: 0.6em 0.8em;
	}


	/**
		* @name Menu - Text
		* @description A simple Text menu
		*
		* @section components.menu.text
		*
		*
		* @markup
		*		<div class="ui text menu">
		*			<div class="header item">Sort By</div>
		*			<a class="active item">
		*				<i class="home icon"></i> Closest
		*			</a>
		*			<a class="item">
		*				<i class="mail icon"></i> Most Comments
		*			</a>
		*			<a class="item">
		*				<i class="user icon"></i> Most Popular
		*			</a>
		*		</div>
		*/
	.ui.text.menu {
		background-color: transparent;
		margin: 1rem -1rem;
		box-shadow: none;
	}
	.ui.text.menu > .item {
		opacity: 0.8;
		margin: 0em 1em;
		padding: 0em;
		box-shadow: none;
		transition: opacity 0.2s ease;
	}

	.ui.text.menu .header.item {
		background-color: transparent;
		opacity: 1;
		color: palette(neutral, dark);
		font-size: 0.875rem;
		padding: 0em;
		text-transform: uppercase;
		font-weight: bold;
	}


	/**
		* @name Menu - Text Vertical
		* @description A simple vertical Text menu
		*
		* @section components.menu.text-vertical
		*
		*
		* @markup
		*		<div class="ui text menu">
		*			<div class="header item">Sort By</div>
		*			<a class="active item">
		*				<i class="home icon"></i> Closest
		*			</a>
		*			<a class="item">
		*				<i class="mail icon"></i> Most Comments
		*			</a>
		*			<a class="item">
		*				<i class="user icon"></i> Most Popular
		*			</a>
		*		</div>
		*/
	.ui.vertical.text.menu {
		margin: 1rem 0em;
	}
	.ui.vertical.text.menu .item {
		float: left;
		clear: left;
		margin: 0.5em 0em;
	}
	.ui.vertical.text.menu .item > i.icon {
		float: none;
		margin: 0em 0.83em 0em 0em;
	}
	.ui.vertical.text.menu .header.item {
		margin: 0.8em 0em;
	}
	.ui.text.menu .item:hover {
		background-color: transparent;
	}
	.ui.text.menu .active.item {
		background-color: transparent;
		padding: 0em;
		border: none;
		opacity: 1;
		font-weight: bold;
		box-shadow: none;
	}
	.ui.text.pointing.menu .active.item:after {
		box-shadow: none;
	}
	.ui.text.attached.menu {
		box-shadow: none;
	}


	/**
		* @name Menu - Icon
		* @description An icon only menu
		*
		* @section components.menu.icon
		*
		*
		* @markup
		*		<div class="ui icon menu">
		*			<a class="active icon item">
		*				<i class="home icon"></i>
		* 			<div class="accessibility">Icon Label</div>
		*			</a>
		*			<a class="icon item">
		*				<i class="mail icon"></i>
		* 			<div class="accessibility">Icon Label</div>
		*			</a>
		*			<a class="icon item">
		*				<i class="user icon"></i>
		* 			<div class="accessibility">Icon Label</div>
		*			</a>
		*		</div>
		*/
	.ui.icon.menu > .item {
		text-align: center;
		color: palette(neutral, dark);
	}

	// Sizes
	.ui.small.menu .item {
		font-size: 0.875rem;
	}
	.ui.small.vertical.menu {
		width: 13rem;
	}
	.ui.menu .item {
		font-size: 1rem;
	}
	.ui.vertical.menu {
		width: 15rem;
	}
	.ui.large.menu .item {
		font-size: 1.125rem;
	}
	.ui.large.menu .item .item {
		font-size: 0.875rem;
	}
	.ui.large.menu .dropdown .item {
		font-size: 1rem;
	}
	.ui.large.vertical.menu {
		width: 18rem;
	}
}
