@mixin segment-src {
  /**
    * @name Segment
    * @description The segment is for some simple structure and style around basic site copy.
    *
    * @section components.segment.index
    *
    *
    * @markup
		* 	<div class="ui segment">
		* 	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
		* 	</div>
    */
  .ui.segment {
    position: relative;
    &:first-child {
      margin-top: 0em;
    }
    &:last-child {
      margin-bottom: 0em;
    }
    &:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  .ui.vertical.segment {
    margin: 0em;
    padding-left: 0em;
    padding-right: 0em;
    &:first-child {
      padding-top: 0em;
    }
  }
  .ui.horizontal.segment {
    margin: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    &:first-child {
      padding-left: 0em;
    }
  }
  /**
    * @name Segment - Circular
    * @description The circular segment centers copy within a circular container.
    *
    * @section components.segment.circular
    *
    *
    * @markup
    * 	<div class="ui circular segment">
    * 	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    * 	</div>
    */
  .ui.circular.segment {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 500em;
  }

}
