@mixin card-prototype {
	.ui.cards {
		margin: 1em 0em 0em;
		&:first-child {
			margin-top: 0em;
		}
		&:last-child {
			margin-bottom: -1em;
		}
	}
	.ui.cards > .card, .ui.card {
		top: 0px;
		width: 316px;
		min-height: 375px;
		margin: 0em 0.5em 2.5em;
		padding: 0em;
		background-color: palette(neutral, light);
		line-height: 1.2;
		font-size: 1em;
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
		border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
		transition: box-shadow 0.2s ease;

		// Elements
		> .image {
			background-color: palette(neutral, mid);
		}
		> .content {
			padding: 0.75em 0.5em;
		}
		> .content > .name {
			font-size: 1.25em;
			font-weight: bold;
			margin-bottom: 0.2em;
			color: palette(neutral, dark);
		}
		> .content > .description {
			color: palette(neutral, dark);
		}
		> .content > .description p {
			margin: 0em 0em 0.2em;
		}
		.meta {
			float: right;
			color: palette(neutral, dark);
		}
		> .content > .meta + .name {
			float: left;
		}
		.extra {
			padding: 0em 0.5em;
			bottom: -2em;
			left: 0em;
			height: 1.5em;
			color: palette(neutral, dark);
			transition: color 0.2s ease;
		}
		.extra > img {
			border-radius: 500px 500px 500px 500px;
			margin-right: 0.25em;
			width: 2em;
		}

		&:hover {
			box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
		}
		&:hover .extra {
			color: palette(neutral, dark);
		}
	}
	// Connected
	.ui.connected.cards {
		.card {
			height: auto;
			margin: 0em;
			width: 33.33%;
		}
		> .card,
		> .row:last-child > .card {
			border-bottom: 0.2em solid rgba(0, 0, 0, 0.2);
		}
		.card:hover {
			border-bottom-width: 0.2em;
		}
	}
}
