@mixin segment-prototype {
	.ui.segment {
		background-color: palette(neutral, light);
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
		margin: 1em 0em;
		padding: 1em;
	}
	.ui.vertical.segment {
		background-color: transparent;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	}
	.ui.horizontal.segment {
		background-color: transparent;
		box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
	}

	/**
		* @name Segment - Raised
		* @description The raised segment appears 'above' the other copy on the site.
		*
		* @section components.segment.raised
		*
		*
		* @markup
		* 	<div class="ui raised segment">
		* 	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
		* 	</div>
		*/
	.ui.raised.segment {
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
	}
	.ui.disabled.segment {
		opacity: 0.8;
		color: palette(neutral, mid);
	}

	/**
		* @name Segment - Ordinality
		* @description Segments can use ordinality to indicate importance.
		*
		* @section components.segment.ordinality
		*
		*
		* @markup
		* 	<div class="ui primary segment">
		* 	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
		* 	</div>
		* 	<div class="ui secondary segment">
		* 	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
		* 	</div>
		* 	<div class="ui tertiary segment">
		* 	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
		* 	</div>
		*/
	.ui.primary.segment {
		background-color: palette(neutral, light, 120);
		color: palette(neutral, mid, 120);
	}
	.ui.secondary.segment {
		background-color: palette(neutral, light, 110);
		color: palette(neutral, mid, 110);
	}
	.ui.tertiary.segment {
		background-color: palette(neutral, light);
		color: palette(neutral, mid);
	}
}
