@mixin form-prototype {
	/**
		* @name Form
		* @description Form containers and styles. Includes styles for fieldsets and their contents, as well as form messaging.
		*
		* @section components.form.index
		*
		*
		* @markup
		* <form class="ui form">
		* 	<fieldset class="field">
		* 		<label>Username</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="text" placeholder="Username">
		* 			<i class="user icon"></i>
		* 			<div class="ui corner label">
		* 				<i class="icon asterisk"></i>
		* 			</div>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Password</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="password">
		* 			<i class="lock icon"></i>
		* 			<div class="ui corner label">
		* 				<i class="icon asterisk"></i>
		* 			</div>
		* 		</div>
		* 	</fieldset>
		* 	<input type="submit" class="ui blue submit button" value="Login"/>
		* </form>
		*/
	.ui.form fieldset {
		border: none;
	}
	.ui.form > p {
		margin: 1em 0;
	}
	.ui.form .field {
		margin: 0em 0em 1em;
	}
	.ui.form .field > label {
		color: palette(neutral, dark);
		margin: 0em 0em 0.3em;
		font-size: 0.875em;
	}

	/**
		* @name Form - Inputs
		* @description All of the following inputs (and textarea) are modified by the form.
		*
		* @section components.form.inputs
		*
		*
		* @markup
		* <form class="ui form segment">
		* 	<fieldset class="field">
		* 		<label>Text Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="text" placeholder="Username">
		* 			<i class="user icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Password Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="password">
		* 			<i class="lock icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Email Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="email">
		* 			<i class="mail icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Date Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="date">
		* 			<i class="calendar icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Number Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="number">
		* 			<i class="signal icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Phone Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="tel">
		* 			<i class="phone icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Url Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="url">
		* 			<i class="url icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Textarea Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<textarea></textarea>
		* 		</div>
		*		</fieldset>
		* 	<fieldset class="field">
		* 		<div class="ui checkbox">
		* 			<input type="checkbox" name="checkbox" id="checkbox" />
		* 			<label for="checkbox">Checkbox</label>
		* 		</div>
		* 	</fieldset>
		*		<fieldset class="grouped inline fields">
		*			<div class="field">
		*				<div class="ui radio checkbox">
		*					<input type="radio" name="fruit" id="apples" checked />
		*					<label for="apples">Apples</label>
		*				</div>
		*			</div>
		*			<div class="field">
		*				<div class="ui radio checkbox">
		*					<input type="radio" name="fruit" id="oranges" />
		*					<label for="oranges">Oranges</label>
		*				</div>
		*			</div>
		*			<div class="field">
		*				<div class="ui radio checkbox">
		*					<input type="radio" name="fruit" id="pears" />
		*					<label for="pears">Pears</label>
		*				</div>
		*			</div>
		*			<div class="field">
		*				<div class="ui radio checkbox">
		*					<input type="radio" name="fruit" id="grapefruit" />
		*					<label for="grapefruit">Grapefruit</label>
		*				</div>
		*			</div>
		*		</fieldset>
		* 	<input type="submit" class="ui blue submit button" value="Login"/>
		* </form>
		*/
	.ui.form textarea,
	.ui.form input[type="text"],
	.ui.form input[type="email"],
	.ui.form input[type="date"],
	.ui.form input[type="password"],
	.ui.form input[type="number"],
	.ui.form input[type="url"],
	.ui.form input[type="tel"] {
		margin: 0em;
		padding: 0.85em 1.2em;
		font-size: 0.875em;
		background-color: palette(neutral, light);
		border: 1px solid palette(neutral, mid);
		color: palette(neutral, dark);
		transition:
			background-color 0.3s ease-out,
			box-shadow 0.2s ease,
			border-color 0.2s ease;
		box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.3) inset;
		-webkit-appearance: none;
		-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
		box-sizing: border-box;

		&:focus {
			color: palette(neutral, dark);
			border-color: palette(neutral, mid);
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			-webkit-appearance: none;
			box-shadow: 0.3em 0em 0em 0em rgba(0, 0, 0, 0.2) inset;
		}
	}
	.ui.textarea,
	.ui.form textarea {
		line-height: 1.33;
		min-height: 8em;
		height: 12em;
		max-height: 24em;
		resize: vertical;
	}


	/**
		* @name Form - Errors
		* @description Form input error styles. In order to show messages in regards to the error, the form must have a class of error
		*
		* @section components.form.error
		*
		*
		* @markup
		* <form class="ui form error">
		* 	<div class="ui error message">
		* 		<div class="header">We noticed some issues</div>
		* 	</div>
		* 	<fieldset class="error field">
		* 		<label>Text Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="text" placeholder="Username">
		* 			<i class="user icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Email Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="email">
		* 			<i class="mail icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="error field">
		* 		<label>Password Field</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="password">
		* 			<i class="lock icon"></i>
		* 		</div>
		* 		<div class="ui message">Here is a prompt for the user about how to fix the error.</div>
		* 	</fieldset>
		* 	<input type="submit" class="ui blue submit button" value="Login"/>
		* </form>
		*/
	// Error
	.ui.form .fields.error .field label,
	.ui.form .field.error label,
	.ui.form .fields.error .field .input,
	.ui.form .field.error .input {
		color: palette(info, error);
	}
	.ui.form .fields.error .field .corner.label,
	.ui.form .field.error .corner.label {
		border-color: palette(info, error);
		color: palette(neutral, light);
	}
	.ui.form .fields.error .field textarea,
	.ui.form .fields.error .field input[type="text"],
	.ui.form .fields.error .field input[type="email"],
	.ui.form .fields.error .field input[type="date"],
	.ui.form .fields.error .field input[type="password"],
	.ui.form .fields.error .field input[type="number"],
	.ui.form .fields.error .field input[type="url"],
	.ui.form .fields.error .field input[type="tel"],
	.ui.form .field.error textarea,
	.ui.form .field.error input[type="text"],
	.ui.form .field.error input[type="email"],
	.ui.form .field.error input[type="date"],
	.ui.form .field.error input[type="password"],
	.ui.form .field.error input[type="number"],
	.ui.form .field.error input[type="url"],
	.ui.form .field.error input[type="tel"] {
		padding-left: 1.2em;
		background-color: palette(info, error, 5);
		border-color: palette(info, error, 20);
		border-left: none;
		color: palette(info, error);
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		box-shadow: 0.3em 0em 0em 0em palette(info, error) inset;
	}
	.ui.form .field.error textarea:focus,
	.ui.form .field.error input[type="text"]:focus,
	.ui.form .field.error input[type="email"]:focus,
	.ui.form .field.error input[type="date"]:focus,
	.ui.form .field.error input[type="password"]:focus,
	.ui.form .field.error input[type="number"]:focus,
	.ui.form .field.error input[type="url"]:focus,
	.ui.form .field.error input[type="tel"]:focus{
		border-color: palette(info, error);
		color: palette(info, error);
		-webkit-appearance: none;
		box-shadow: 0.3em 0em 0em 0em palette(info, error) inset;
	}

	// Empty (Placeholder)
	.ui.form ::-webkit-input-placeholder {
		color: palette(neutral, mid);
	}
	.ui.form ::-moz-placeholder {
		color: palette(neutral, mid);
	}
	.ui.form :focus::-webkit-input-placeholder {
		color: palette(neutral, mid);
	}
	.ui.form :focus::-moz-placeholder {
		color: palette(neutral, mid);
	}
	// Error Placeholder
	.ui.form .error ::-webkit-input-placeholder {
		color: palette(info, error);
	}
	.ui.form .error ::-moz-placeholder {
		color: palette(info, error);
	}
	.ui.form .error :focus::-webkit-input-placeholder {
		color: palette(info, error);
	}
	.ui.form .error :focus::-moz-placeholder {
		color: palette(info, error);
	}

	/**
		* @name Form - Disabled Inputs
		* @description Form containers and styles. Includes styles for fieldsets and their contents, as well as form messaging.
		*
		* @section components.form.disabled
		*
		*
		* @markup
		* <form class="ui form">
		* 	<fieldset class="disabled field">
		* 		<label>Username</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="text" placeholder="Username" disabled>
		* 			<i class="user icon"></i>
		* 			<div class="ui corner label">
		* 				<i class="icon asterisk"></i>
		* 			</div>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Password</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="password">
		* 			<i class="lock icon"></i>
		* 			<div class="ui corner label">
		* 				<i class="icon asterisk"></i>
		* 			</div>
		* 		</div>
		* 	</fieldset>
		* 	<input type="submit" class="ui blue submit button" value="Login"/>
		* </form>
		*/
	// Disabled
	.ui.form .field :disabled,
	.ui.form .field.disabled {
		opacity: 0.5;
	}
	.ui.form .field.disabled label {
		opacity: 0.5;
	}

	/**
		* @name Form - Loading
		* @description Form loading indication.
		*
		* @section components.form.disabled
		*
		*
		* @markup
		* <form class="ui loading form">
		* 	<fieldset class="field">
		* 		<label>Username</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="text" placeholder="Username">
		* 			<i class="user icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Password</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="password">
		* 			<i class="lock icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<input type="submit" class="ui blue submit button" value="Login"/>
		* </form>
		*/
	// Loading State
	.ui.form.loading:after {
		background: palette(neutral, light) url(../assets/images/loader-large.gif) no-repeat 50% 50%;
	}

	// Variations
	// Date Input
	.ui.form .date.field > label:after {
		top: 2em;
		right: 0.5em;
		font-size: 1.2em;
		font-family: 'Icons';
		font-weight: normal;
		color: palette(neutral, mid);
	}

	// Grouped Vertically
	.ui.form .grouped.fields {
		margin: 0em 0em 1em;
	}
	.ui.form .grouped.fields .field {
		margin: 0.5em 0em;
		padding: 0em;
	}

	// Fields
	.ui.form .fields > .field:first-child {
		border-left: none;
		box-shadow: none;
	}

	/**
		* @name Form - Inline Fields
		* @description inline fields of form elements
		*
		* @section components.form.inline
		*
		*
		* @markup
		* <form class="ui form">
		* 	<div class="inline fields">
		* 		<fieldset class="field">
		* 			<label>Username</label>
		* 			<div class="ui left labeled icon input">
		* 				<input type="text" placeholder="Username">
		* 				<i class="user icon"></i>
		* 			</div>
		* 		</fieldset>
		* 		<fieldset class="field">
		* 			<label>Password</label>
		* 			<div class="ui left labeled icon input">
		* 				<input type="password">
		* 				<i class="lock icon"></i>
		* 			</div>
		* 		</fieldset>
		* 	</div>
		* 	<input type="submit" class="ui blue submit button" value="Login"/>
		* </form>
		*/
	.ui.form .inline.fields .field {
		min-height: 1.3em;
		margin-right: 0.5em;
	}
	.ui.form .inline.fields .field > label,
	.ui.form .inline.fields .field > p,
	.ui.form .inline.fields .field > input,
	.ui.form .inline.field > label,
	.ui.form .inline.field > p,
	.ui.form .inline.field > input {
		font-size: 1em;
	}
	.ui.form .inline.fields .field > input,
	.ui.form .inline.field > input {
		font-size: 0.875em;
	}
	.ui.form .inline.fields .field > :first-child,
	.ui.form .inline.field > :first-child {
		margin: 0em 0.5em 0em 0em;
	}

	/**
		* @name Form - Small
		* @description Small form variation.
		*
		* @section components.form.small
		*
		*
		* @markup
		* <form class="ui small form">
		* 	<fieldset class="field">
		* 		<label>Username</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="text" placeholder="Username">
		* 			<i class="user icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<fieldset class="field">
		* 		<label>Password</label>
		* 		<div class="ui left labeled icon input">
		* 			<input type="password">
		* 			<i class="lock icon"></i>
		* 		</div>
		* 	</fieldset>
		* 	<input type="submit" class="ui blue submit button" value="Login"/>
		* </form>
		*/
	.ui.small.form {
		font-size: 0.875em;
	}
	.ui.small.form textarea,
	.ui.small.form input[type="text"],
	.ui.small.form input[type="email"],
	.ui.small.form input[type="date"],
	.ui.small.form input[type="password"],
	.ui.small.form input[type="number"],
	.ui.small.form input[type="url"],
	.ui.small.form input[type="tel"],
	.ui.small.form label{
		font-size: 1em;
	}
}
