@mixin table-prototype {
  /**
    * @name Table
    * @description Responsive tables
		*
    * @section components.table.0
    *
    *
    * @markup
		* <table class="ui table segment">
		* 	<thead>
		* 		<th>Name</th>
		* 		<th>Status</th>
		* 		<th>Notes</th>
		* 	</thead>
		* 	<tbody>
		* 		<tr>
		* 			<td>John</td>
		* 			<td>Approved</td>
		* 			<td>None</td>
		* 		</tr>
		* 		<tr>
		* 			<td>Jamie</td>
		* 			<td>Approved</td>
		* 			<td>Requires call</td>
		* 		</tr>
		* 		<tr>
		* 			<td>Jill</td>
		* 			<td>Denied</td>
		* 			<td>None</td>
		* 		</tr>
		* 	</tbody>
		* 	<tfoot>
		* 		<th colspan="3">
		* 			<div class="ui blue labeled icon button"><i class="user icon"></i> Add User</div>
		* 		</th>
		* 	</tfoot>
		* </table>
	  */
	.ui.table th,
	.ui.table tr,
	.ui.table td {
		transition: all 0.1s ease-out;
	}
	.ui.table thead {
		border-bottom: 1px solid palette(neutral, mid);
	}
	.ui.table tfoot th {
		background-color: palette(neutral, mid);
	}
	.ui.table th {
		background-color: palette(neutral, mid);
		text-align: left;
		color: rgba(0, 0, 0, 0.8);
		padding: 0.5em 0.7em;
	}
	.ui.table td {
		padding: 0.40em 0.7em;
	}
	.ui.table tfoot {
		border-top: 1px solid palette(neutral, mid);
	}
	.ui.table tfoot th {
		font-weight: normal;
		font-style: italic;
	}
	.ui.table tbody tr:nth-child(2n) {
		background-color: palette(neutral, mid, 50);
	}

	@include media-query (palm) {

		.ui.responsive.table tr > td {
			padding: 0.25em 0.75em;
			box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05) !important;
		}
		.ui.responsive.table td:first-child {
			font-weight: bold;
			padding-top: 1em;
		}
		.ui.responsive.table td:last-child {
			box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset !important;
			padding-bottom: 1em;
		}
		.ui.responsive.table tr > td.warning,
		.ui.responsive.table tr > td.error,
		.ui.responsive.table tr > td.active,
		.ui.responsive.table tr > td.positive,
		.ui.responsive.table tr > td.negative {
			background-color: transparent !important;
		}
	}

	.ui.sortable.table th.disabled:hover {
		cursor: auto;
		text-align: left;
		font-weight: bold;
	}
	.ui.sortable.table thead th:hover {
		background-color: palette(neutral, mid, 110);
	}

	/**
		* @name Table - Row Styles
		* @description Positive/Negative/Error/Warning/Active/Disabled
		*
		* @section components.table.positive
		*
		* @markup
		* <table class="ui table segment">
		* 	<thead>
		* 		<th>Name</th>
		* 		<th>Status</th>
		* 		<th>Notes</th>
		* 	</thead>
		* 	<tbody>
		* 		<tr>
		* 			<td>No Name Specified</td>
		* 			<td>Unknown</td>
		* 			<td>None</td>
		* 		</tr>
		* 		<tr class="positive">
		* 			<td>Jimmy</td>
		* 			<td><i class="icon checkmark"></i> Approved</td>
		* 			<td>None</td>
		* 		</tr>
		* 		<tr>
		* 			<td>Jamie</td>
		* 			<td>Unknown</td>
		* 			<td class="negative"><i class="icon close"></i> Requires call</td>
		* 		</tr>
		* 		<tr class="error">
		* 			<td>Jill</td>
		* 			<td>Unknown</td>
		* 			<td>None</td>
		* 		</tr>
		* 		<tr class="warning">
		* 			<td>Jack</td>
		* 			<td>Unknown</td>
		* 			<td>None</td>
		* 		</tr>
		* 		<tr class="active">
		* 			<td>Jack</td>
		* 			<td>Unknown</td>
		* 			<td>None</td>
		* 		</tr>
		* 		<tr class="disabled">
		* 			<td>Jack</td>
		* 			<td>Unknown</td>
		* 			<td>None</td>
		* 		</tr>
		* 	</tbody>
		* </table>
		*/
	.ui.table tr.positive,
	.ui.table td.positive {
		box-shadow: 2px 0px 0px palette(info, success) inset;
	}
	.ui.table tr.positive td,
	.ui.table td.positive {
		background-color: palette(info, success, 5) !important;
		color: palette(info, success) !important;
	}
	.ui.celled.table tr.positive:hover td,
	.ui.celled.table tr:hover td.positive,
	.ui.table tr.positive:hover td,
	.ui.table td:hover.positive,
	.ui.table th:hover.positive {
		background-color: palette(info, success, 5) !important;
		color: palette(info, success) !important;
	}

	.ui.table tr.negative,
	.ui.table td.negative {
		box-shadow: 2px 0px 0px palette(info, error) inset;
	}
	.ui.table tr.negative td,
	.ui.table td.negative {
		background-color: palette(info, error, 5);
		color: palette(info, error) !important;
	}
	.ui.celled.table tr.negative:hover td,
	.ui.celled.table tr:hover td.negative,
	.ui.table tr.negative:hover td,
	.ui.table td:hover.negative,
	.ui.table th:hover.negative {
		background-color: palette(info, error, 5);
		color: palette(info, error);
	}

	.ui.table tr.error,
	.ui.table td.error {
		box-shadow: 2px 0px 0px palette(info, error) inset;
	}
	.ui.table tr.error td,
	.ui.table td.error,
	.ui.table th.error {
		background-color: palette(info, error, 5);
		color: palette(info, error);
	}
	.ui.celled.table tr.error:hover td,
	.ui.celled.table tr:hover td.error,
	.ui.table tr.error:hover td,
	.ui.table td:hover.error,
	.ui.table th:hover.error {
		background-color: palette(info, error, 5);
		color: palette(info, error);
	}

	.ui.table tr.warning,
	.ui.table td.warning {
		box-shadow: 2px 0px 0px palette(info, warning) inset;
	}
	.ui.table tr.warning td,
	.ui.table td.warning,
	.ui.table th.warning {
		background-color: palette(info, warning, 5);
		color: palette(info, warning);
	}
	.ui.celled.table tr.warning:hover td,
	.ui.celled.table tr:hover td.warning,
	.ui.table tr.warning:hover td,
	.ui.table td:hover.warning,
	.ui.table th:hover.warning {
		background-color: palette(info, warning, 5);
		color: palette(info, warning);
	}

	.ui.table tr.active,
	.ui.table td.active {
		box-shadow: 2px 0px 0px rgba(50, 50, 50, 0.9) inset;
	}

	.ui.table tr.active td,
	.ui.table tr td.active {
		background-color: palette(neutral, mid, 110);
		color: palette(neutral, dark);
	}

	.ui.table tr.disabled td,
	.ui.table tr td.disabled,
	.ui.table tr.disabled:hover td,
	.ui.table tr:hover td.disabled {
		color:  palette(neutral, mid, 40);
	}

	.ui.celled.table {
		color: palette(neutral, dark);
	}
	.ui.celled.table th,
	.ui.celled.table td {
		border-color: palette(neutral, dark);
	}

	/**
		* @name Table - Sortable
		* @description Tables can be sortable
		*
		* @section components.table.sortable
		*
		*
		* @markup
		* 	<table class="ui sortable table segment">
		* 		<thead>
		* 			<th>Name</th>
		* 			<th>Status</th>
		* 			<th>Notes</th>
		* 		</thead>
		* 		<tbody>
		* 			<tr>
		* 				<td>John</td>
		* 				<td>No Action</td>
		* 				<td>None</td>
		* 			</tr>
		* 			<tr>
		* 				<td>Jamie</td>
		* 				<td class="positive">Approved</td>
		* 				<td class="warning">Requires call</td>
		* 			</tr>
		* 			<tr>
		* 				<td>Jill</td>
		* 				<td class="negative">Denied</td>
		* 				<td>None</td>
		* 			</tr>
		* 		</tbody>
		* 		<tfoot>
		* 			<th>3 People</th>
		* 			<th>2 Approved</th>
		* 			<th></th>
		* 		</tfoot>
		* 	</table>
		*/
	.ui.sortable.table thead th:after {
		display: inline-block;
		content: '';
		width: 1em;
		opacity: 0.8;
		margin: 0em 0em 0em 0.5em;
		font-family: 'Icons';
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
	}
	.ui.sortable.table thead th.ascending:after {
		content: '\25b4';
	}
	.ui.sortable.table thead th.descending:after {
		content: '\25be';
	}

	/**
		* @name Table - Basic
		* @description Tables can be basic
		*
		* @section components.table.basic
		*
		*
		* @markup
		* 	<table class="ui basic table segment">
		* 		<thead>
		* 			<th>Name</th>
		* 			<th>Status</th>
		* 			<th>Notes</th>
		* 		</thead>
		* 		<tbody>
		* 			<tr>
		* 				<td>John</td>
		* 				<td>No Action</td>
		* 				<td>None</td>
		* 			</tr>
		* 			<tr>
		* 				<td>Jamie</td>
		* 				<td class="positive">Approved</td>
		* 				<td class="warning">Requires call</td>
		* 			</tr>
		* 			<tr>
		* 				<td>Jill</td>
		* 				<td class="negative">Denied</td>
		* 				<td>None</td>
		* 			</tr>
		* 		</tbody>
		* 		<tfoot>
		* 			<th>3 People</th>
		* 			<th>2 Approved</th>
		* 			<th></th>
		* 		</tfoot>
		* 	</table>
		*/
	.ui.basic.table th {
		padding: 0.5em;
	}
	.ui.basic.table tbody tr {
		border-bottom: 1px solid palette(neutral, mid);
	}
	.ui.basic.table td {
		padding: 0.8em 0.5em;
	}

	.ui.padded.table th,
	.ui.padded.table td {
		padding: 0.8em 1em;
	}
	.ui.compact.table th {
		padding: 0.3em 0.5em;
	}
	.ui.compact.table td {
		padding: 0.2em 0.5em;
	}
}
