@mixin button-prototype {

	.ui.button {
		background-color: palette(neutral, mid);
		color: palette(neutral, light);
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: bold;
		font-style: normal;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		&.active{
			background-color: palette(neutral, mid, 105);
		}
		&:hover,
		&.active:hover  {
			background-color: palette(neutral, mid, 110);
		}
		&:active,
		&.active:active {
			background-color: palette(neutral, mid, 120);
		}
		> .icon {
			margin-right: 0.6em;
		}
	}

	/**
		* @name Button - States
		* @description A button can be loading, or disabled.
		*
		* @section components.button.states
		*
		*
		* @markup
		* 	<div class="ui loading button">
		* 		Follow
		* 	</div>
		* 	<div class="ui disabled button">
		* 		Follow
		* 	</div>
		*/
	.ui.button {
		&.loading {
			position: relative;
			cursor: default;
			background-color: palette(neutral, light) !important;
			color: transparent !important;
			transition: all 0s linear;

			&:after {
				position: absolute;
				top: 0em;
				left: 0em;
				width: 100%;
				height: 100%;
				content: '';
				background: transparent url(../assets/images/loader-mini.gif) no-repeat 50% 50%;
			}
			&.labeled.icon .icon {
				background-color: transparent;
				box-shadow: none;
			}
		}
		&.disabled,
		&.disabled:hover,
		&.disabled.active {
			cursor: default;
			opacity: 0.3 !important;
		}
	}

	/**
		* @name Button - Basic
		* @description A basic button is one that typically 'looks' more basic to the user, most often achieve through transparent background and no border.
		*
		* @section components.button.basic
		*
		*
		* @markup
		* 	<div class="ui basic button">
		* 		Follow
		* 	</div>
		* 	<div class="ui basic icon button">
		* 		<i class="photo icon"></i>
		* 	</div>
		*/
	.ui.basic.buttons .button,
	.ui.basic.button {
		background-color: transparent !important;
		color: palette(button, primary, 110);
		text-transform: none;
	}

	.ui.button {
		&.labeled.icon > .button > .icon,
		&.labeled.icon > .icon {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}

	/**
		* @name Button - Circular
		* @description A button with a cirular border
		*
		* @section components.button.basic
		*
		*
		* @markup
		* 	<div class="ui circular button">
		* 		Follow
		* 	</div>
		* 	<div class="ui circular icon button">
		* 		<i class="photo icon"></i>
		* 	</div>
		*/
	.ui.circular.button {
		border-radius: 10em;
	}
	/**
		* @name Button - Ordinality
		* @description Buttons are often referenced in terms of their importance via ordinality.
		*
		* @section components.button.ordinality
		*
		*
		* @markup
		* 	<div class="ui primary labeled icon button">
		* 		<i class="photo icon"></i>
		* 		My Photos
		* 	</div>
		* 	<div class="ui secondary labeled icon button">
		* 		<i class="photo icon"></i>
		* 		My Photos
		* 	</div>
		*/
	.ui.button {
		&.primary {
			background-color: palette(button, primary);

			&:hover,
			&.active {
				background-color: palette(button, primary, 110);
			}
			&:active {
				background-color: palette(button, primary, 105);
			}
		}
		&.secondary {
			background-color: palette(button, secondary);

			&:hover,
			&.active {
				background-color: palette(button, secondary, 110);
			}
			&:active {
				background-color: palette(button, secondary, 105);
			}
		}
	}
	/**
		* @name Button - Social
		* @description Social buttons contain styles related to their respective brands.
		*
		* @section components.button.social
		*
		*
		* @markup
		* 	<div class="ui facebook button">
		* 		<i class="facebook icon"></i>
		* 		Facebook
		* 	</div>
		* 	<div class="ui twitter button">
		* 		<i class="twitter icon"></i>
		* 		Twitter
		* 	</div>
		* 	<div class="ui google plus button">
		* 		<i class="google plus icon"></i>
		* 		Google Plus
		* 	</div>
		* 	<div class="ui pinterest button">
		* 		<i class="pinterest icon"></i>
		* 		Pinterest
		* 	</div>
		* 	<div class="ui linkedin button">
		* 		<i class="linkedin icon"></i>
		* 		LinkedIn
		* 	</div>
		* 	<div class="ui instagram button">
		* 		<i class="instagram icon"></i>
		* 		Instagram
		* 	</div>
		* 	<div class="ui youtube button">
		* 		<i class="youtube icon"></i>
		* 		YouTube
		* 	</div>
		*/
	.ui.button {
		&.facebook {
			background-color: palette(social, facebook);

			&:hover {
				background-color: palette(social, facebook, 110);
			}

			&:active {
				background-color: palette(social, facebook, 105);
			}
		}
		&.twitter {
			background-color: palette(social, twitter);

			&:hover {
				background-color: palette(social, twitter, 110);
			}

			&:active {
				background-color: palette(social, twitter, 105);
			}
		}
		&.google.plus {
			background-color: palette(social, googleplus);

			&:hover {
				background-color: palette(social, googleplus, 110);
			}

			&:active {
				background-color: palette(social, googleplus, 105);
			}
		}
		&.linkedin {
			background-color: palette(social, linkedin);

			&:hover {
				background-color: palette(social, linkedin, 110);
			}

			&:active {
				background-color: palette(social, linkedin, 105);
			}
		}
		&.youtube {
			background-color: palette(social, youtube);

			&:hover {
				background-color: palette(social, youtube, 110);
			}

			&:active {
				background-color: palette(social, youtube, 105);
			}
		}
		&.instagram {
			background-color: palette(social, instagram);

			&:hover {
				background-color: palette(social, instagram, 110);
			}

			&:active {
				background-color: palette(social, instagram, 105)
			}
		}
		&.pinterest {
			background-color: palette(social, pinterest);

			&:hover {
				background-color: palette(social, pinterest, 110);
			}

			&:active {
				background-color: palette(social, pinterest, 105);
			}
		}
	}
	/**
		* @name Button - Status
		* @description Buttons are often referenced in terms of their importance via ordinality.
		*
		* @section components.button.status
		*
		*
		* @markup
		* 	<div class="ui positive labeled icon button">
		* 		<i class="photo icon"></i>
		* 		My Photos
		* 	</div>
		* 	<div class="ui negative labeled icon button">
		* 		<i class="photo icon"></i>
		* 		My Photos
		* 	</div>
		*/
	.ui.button {
		&.positive {
			background-color: palette(info, success);
			&:hover {
				background-color: palette(info, success, 110);
			}
			&:active {
				background-color: palette(info, success, 105);
			}
		}
		&.negative {
			background-color: palette(info, error);
			&:hover {
				background-color: palette(info, error, 110);
			}
			&:active {
				background-color: palette(info, error, 105);
			}
		}
	}

	/**
		* @name Button - Group Sizes
		* @description Buttons groups can sized together.
		*
		* @section components.button.groups-sizes
		*
		*
		* @markup
		* 	<div class="mv">
		* 		<div class="ui mini buttons">
		* 			<div class="ui button">Left</div>
		* 			<div class="ui button">Middle</div>
		* 			<div class="ui button">Right</div>
		* 		</div>
		* 	</div>
		* 	<div class="mv">
		* 		<div class="ui tiny buttons">
		* 			<div class="ui button">Left</div>
		* 			<div class="ui button">Middle</div>
		* 			<div class="ui button">Right</div>
		* 		</div>
		* 	</div>
		* 	<div class="mv">
		* 		<div class="ui small buttons">
		* 			<div class="ui button">Left</div>
		* 			<div class="ui button">Middle</div>
		* 			<div class="ui button">Right</div>
		* 		</div>
		* 	</div>
		* 	<div class="mv">
		* 		<div class="ui large buttons">
		* 			<div class="ui button">Left</div>
		* 			<div class="ui button">Middle</div>
		* 			<div class="ui button">Right</div>
		* 		</div>
		* 	</div>
		* 	<div class="mv">
		* 		<div class="ui big buttons">
		* 			<div class="ui button">Left</div>
		* 			<div class="ui button">Middle</div>
		* 			<div class="ui button">Right</div>
		* 		</div>
		* 	</div>
		* 	<div class="mv">
		* 		<div class="ui huge buttons">
		* 			<div class="ui button">Left</div>
		* 			<div class="ui button">Middle</div>
		* 			<div class="ui button">Right</div>
		* 		</div>
		* 	</div>
		* 	<div class="mv">
		* 		<div class="ui massive buttons">
		* 			<div class="ui button">Left</div>
		* 			<div class="ui button">Middle</div>
		* 			<div class="ui button">Right</div>
		* 		</div>
		* 	</div>
		*/
	.ui.buttons {

		&.mini,
		&.mini .button {
			font-size: 0.8rem;
		}
		&.tiny,
		&.tiny .button {
			font-size: 0.875em;
		}
		&.small,
		&.small .button {
			font-size: 0.875rem;
		}
		&.large,
		&.large .button {
			font-size: 1.125rem;
		}
		&.big,
		&.big .button {
			font-size: 1.25rem;
		}
		&.huge,
		&.huge .button {
			font-size: 1.375rem;
		}
		&.massive,
		&.massive .button {
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
}
