@mixin input-src {
  /**
    * @name Input
    * @description Input styles are additional enhancements on the basic input. Note: These inputs styles can be used separately from forms (although in nearly all cases we don't recommend it).
    *
    * @section components.input.index
    *
    *
    * @markup
    *   <div class="mv pv">
    * 		<div class="ui input">
    * 			<input type="text" placeholder="Username">
    * 		</div>
    *   </div>
    *   <div class="mv pv">
    * 		<div class="ui icon input">
    * 			<input type="text" placeholder="Username">
    * 			<i class="user icon"></i>
    * 		</div>
    *   </div>
    *   <div class="mv pv">
    * 		<div class="ui fluid icon input">
    * 			<i class="user icon"></i>
    * 			<input type="text" placeholder="Username">
    * 		</div>
    *   </div>
    */
  .ui.input {
    display: inline-block;
    position: relative;
  }
  .ui.input input {
    width: 100%;
    outline: none;
  }
  .ui.loading.input > .icon:before,
  .ui.loading.input > .icon:after {
    display: none;
  }
  .ui.transparent.input input {
    border: none;
    background-color: transparent;
  }
  .ui.icon.input > .icon {
    cursor: default;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
  }
  .ui.icon.input > .link.icon {
    cursor: pointer;
  }
  .ui.left.icon.input > .icon {
    right: auto;
    left: 1px;
  }
  .ui.left.icon.input > .circular.icon {
    right: auto;
    left: 0.5em;
  }
  .ui.icon.input > input:focus ~ .icon {
    opacity: 1;
  }

  .ui.action.input {
    display: table;
  }
  .ui.action.input > input {
    display: table-cell;
    border-right: none;
  }
  .ui.action.input > .button,
  .ui.action.input > .buttons {
    display: table-cell;
    white-space: nowrap;
  }
  .ui.action.input > .button > .icon,
  .ui.action.input > .buttons > .button > .icon {
    display: inline;
    vertical-align: top;
  }
  .ui.fluid.action.input {
    display: table;
    width: 100%;
  }
  .ui.fluid.input {
    display: block;
  }

  /**
    * @name Input - Sizes
    * @description Inputs can be explicitly sized.
    *
    * @section components.input.sizes
    *
    *
    * @markup
    *   <div class="mv pv">
    * 		<div class="ui mini icon input">
    * 			<input type="text" placeholder="Username">
    * 			<i class="user icon"></i>
    * 		</div>
    *   </div>
    *   <div class="mv pv">
    * 		<div class="ui small icon input">
    * 			<input type="text" placeholder="Username">
    * 			<i class="user icon"></i>
    * 		</div>
    *   </div>
    *   <div class="mv pv">
    * 		<div class="ui large icon input">
    * 			<input type="text" placeholder="Username">
    * 			<i class="user icon"></i>
    * 		</div>
    *   </div>
    *   <div class="mv pv">
    * 		<div class="ui big icon input">
    * 			<input type="text" placeholder="Username">
    * 			<i class="user icon"></i>
    * 		</div>
    *   </div>
    *   <div class="mv pv">
    * 		<div class="ui huge icon input">
    * 			<input type="text" placeholder="Username">
    * 			<i class="user icon"></i>
    * 		</div>
    *   </div>
    *   <div class="mv pv">
    * 		<div class="ui massive icon input">
    * 			<input type="text" placeholder="Username">
    * 			<i class="user icon"></i>
    * 		</div>
    *   </div>
    */
  .ui.mini.input {
    font-size: 0.8125em;
  }
  .ui.small.input {
    font-size: 0.875em;
  }
  .ui.input {
    font-size: 1em;
  }
  .ui.large.input {
    font-size: 1.125em;
  }
  .ui.big.input {
    font-size: 1.25em;
  }
  .ui.huge.input {
    font-size: 1.375em;
  }
  .ui.massive.input {
    font-size: 1.5em;
  }
}
